<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 mx_header_right">
                        <figure>
                            <img class="img-fluid" src="img/myphoto.jpg" alt="arnab dana" title="arnab dana">
                        </figure>
                     </div>
                    
                    <!-- right side div -->
                    <div class="col-md-6 col-12 mx_header_left">
                        <p>Hello . . . </p>
                        <h1>I Am Arnab,<span>A MERN Stack Developer.</span></h1>
                        <h1>Studying Computer Science</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    {{>footer}}
</body>
</html>