@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --main--bg:#1e272e;
    --main--color:#0097e6;
}
html{
    font-size:62.5%;
}
.row{
    margin: 0;
}
.main_menu{
    background-color: var(--main--bg);
}
/* navbar start */
.navbar{
    color: #fff;
    background-color: var(--main--bg);
    padding:2rem 0;
}
.navbar a{
    color:#fff;
    font-size: 1.8rem;
}
.navbar-toggler{
    background-color: gray;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a:hover{
    color:aqua;
    /* background-color: rgb(182, 54, 54); */
    /* background-size: auto; */
}
.fa-snowflake{
    transition: all linear;
    animation: rot 4s linear infinite;
    color: rgb(168, 241, 50);
}
@keyframes rot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* nav end */
/* main start */
.mx_header_left{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Wbody{
    /* background-color: aqua; */
    margin-bottom: 30%;
    /* height: 70rem; */
}
.mx_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
}
.mx_header_right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mx_header_left h1 span{
    color: chocolate;
}
.mx_header_left button{
    border: rgb(8, 238, 241) solid 2.3px;
    border-radius: 0.8rem;
    box-shadow: 0 8px 16px -2px black;
    
}
.mx_header_left button:hover{
    border: rgb(191, 245, 115) solid 2.3px;
    box-shadow: 0 8px 16px -1px rgb(102, 179, 235);
}
/* main end */

/* footer start */
footer{
    width: 100%;
    /* background-color: rgb(209, 209, 209); */
    margin-bottom: 0px;
    bottom:0;

}
footer p{
    margin: 0;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(8, 8, 8);
    font-weight: 10px;
    /* font-size: 5px; */
    line-height: 4rem;
    font-size: 1.5rem;
}
/* footer end */

/* responsive */
@media(max-width:760px){
    .mx_header_left{
        height: auto;
        margin:5rem 0;
    }
    .mx_header_right{
        height: auto;
        margin-top:3rem;
    }
    /* .c{
        height: auto;
        margin:5rem 0;
    } */
}
/* images */
.w-100{
    height: 80%;
    width: 20%;
}
/* about page style */
.mx_header_right figure img{
    box-shadow: 0px 20px 55px -1px rgb(102, 179, 235);
    /* filter:drop-shadow(5 5.5rem 1rem black(0,0,0,0.3)) */
}
/* error page styling */
.errimg img{
    width: 60rem;
    height:30rem;
}
/* weather page style */
.tempInfo{
    width:auto;
    margin:auto;
    min-height:20rem;
    background-color: rgb(82, 86, 93);
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Roboto",sans-serif;
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 1rem;
    /* justify-content: space-between; */
    padding:0;
}
.top_layer p{
    color: white;
    font-weight: 300;
    padding: 2rem;
    font-size: 2.5rem;
}
.main_layer{
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.main_layer #city_name{
    padding: 2rem 0;
    color: burlywood;
    font-family: 300;
    font-size: 2rem;
}
.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: rgb(146, 243, 247);
}
.main_layer .middle_layer p,.main_layer .middle_layer .fa{
    font-size: 5rem;
    font-weight: 900;
}
.fa{
    color: rgb(27, 46, 250);
}
sub{
    font-size: 6rem;
    margin-top: -2rem;
}
.data_hide{
    /* visibility: hidden; */
    transition: all 0.3s linear;
}
/* temparature form */
.temp_form{
    width: auto;
    position: relative;
    margin:10rem auto 6rem;
}
.temp_form input[type="text"]{
    width:100%;
    padding:2rem 5rem 2rem 2rem;
    background: rgb(20, 20, 20);
    color: white;
    outline: none;
    border:none;
    font-size: 1.5rem;
    border-radius: 2.5rem;
}
::placeholder{
    color: wheat;
}
.temp_form input[type="submit"]{
    position: absolute;
    top:5px;
    right:5px;
    bottom:5px;
    border: none;
    background: turquoise;
    padding: 0 3rem;
    border-radius: 2.5rem;
    color: white;
    font-size: 1.6rem;
}
.temp_form input[type="submit"]:hover{
    color: turquoise;
    background: #fff;
    /* font-size: 1.8rem; */
}

